{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h1 class="text-center">{{presupuesto.nombre_trabajo}}</h1>

                <form method="POST">
                        {{error}}
                        {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                </form>

                <h2 class="mt-5">Productos asociados</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Medida</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td class="text-center">{{ producto.nombre_producto }}</td>
                                <td class="text-center">{{ producto.medida_ancho }} x {{ producto.medida_alto }} mm</td>
                                <td class="text-center">{{ producto.cantidad }}</td>
                                <td class="text-center">{{ producto.valor }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No hay productos asociados a este presupuesto.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h5 class="text-end">Total: {{ total|floatformat:2 }}</h5>
                <h5 class="text-end">IVA (19%): {{ iva|floatformat:2 }}</h5>
                <h5 class="text-end">Total con IVA: {{ total_iva|floatformat:2 }}</h5>

                <a class="text-center mt-3" href="{% url 'agregar_productos' presupuesto.id %}" class="boton">
                    <div class="col text-center">
                        <button class="btn btn-secondary mt-3">Agregar otro producto</button>
                    </div>
                </a>
                <div class="col text-center mt-3">
                    <button class="btn btn-primary" type="submit">
                        Guardar
                    </button>
                </div>

        </div>
    </div>
</main>

{% endblock %}