{% extends 'base.html' %}

{% block content %}

<h1>Presupuestos</h1>

<ul>
    {% for presupuesto in presupuestos %}
    <li>
        <a href="{% url 'presupuestos_detalle' presupuesto.id %}">
            <h1>{{ presupuesto.nombre_trabajo }}</h1>
            <p>{{ presupuesto.empresa }}</p>
    
            <a href="{% url 'agregar_productos' presupuesto.id %}" class="boton">
                <button>Agregar otro producto</button>
            </a>  
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
