{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h1 class="text-center">{{presupuesto.nombre_trabajo}}</h1>

                <form method="POST">
                        {{error}}
                        {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-primary" type="submit">
                            Guardar
                        </button>
                    </div>
                </form>
        </div>
    </div>
</main>

{% endblock %}