{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">

      <div class="col-md-8 offset-md-2">
          <h1 class="text-center display-3 py-5">Ordenes de trabajo</h1>

          <ul class="list-group">
              {% for trabajo in trabajos %}
              <li class="list-group-item">                                                                                                                                                            
                  <h3 class="col text-center">{{ trabajo.nombre_trabajo }} - {{ trabajo.empresa }}</h3>
                  <a class="col text-center py-5" href="{% url 'editar_trabajo' trabajo.id %}">
                      <div class="col text-center">
                          <button class="btn btn-secondary mt-3">Ver y Editar Trabajo</button>
                      </div>
                  </a>
              </li>
              {% empty %}
              <li class="list-group-item text-center">No hay trabajos duplicados.</li>
              {% endfor %}
          </ul>
          
              
      </div>

    </div>
</main>

{% endblock %}