{% extends 'base.html' %}

{% block content %}
<h1>Presupuestos Aprobados</h1>
<ul>
    {% for presupuesto in presupuestos %}
    <li>                                                                                                                                                            
        <h3>{{ presupuesto.nombre_trabajo }} - {{ presupuesto.empresa }}</h3>
        <a href="{% url 'duplicar_presupuesto' presupuesto.id %}">
            <button>Generar OT</button>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}